* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 550px;
  height: 550px;
}
/* header css*/

nav {
  display:flex;
  align-items: center;
  background: #21222A;
  padding: 30px 25px;
}

nav h3 {
  color: #61DAFB;
  margin:0;
  margin-right: auto;
  padding-left: 8px;
  font-weight: 700;


}

nav h4 {
  color: #DEEBF8;
  margin: 0;
  font-weight: 600;
}

img {
  height: 30px;
  margin-right: 7px;
}

/* main content css*/
main {
  background: #282D35;
  color: #FFFFFF;
  padding: 57px 27px;
  height: 550px;
}

main h1 {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}


main ul li {
  line-height: 19px;
  padding-block: 10px;
 
}

::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}